{% extends "index.html" %}
			{% block content %}
			<li class="selected">
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/contacto">Contact Us</a>
			</li>
		</ul>
			</div>
			<div class="body">
				<div>
					<div class="figure">
						<a href="/"><img src="./static/images/cabecera.jpg" alt=""></a>
					</div>
					<div>
						<p></p>
						<h3>Contacto</h3>
						<p>
						 <a href="https://etsiit.ugr.es/">Página web de la ETSIIT</a>
					  </p>
					  <p>
						 Correo electrónico del desarrollador: franfermi@correo.ugr.es
						</p>
						<p>
							Localización:<br>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25427.293436194373!2d-3.630168492353789!3d37.19045013498096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fc55025f928b%3A0x4dbbca09efdcad08!2sE.T.S.+de+Ingenier%C3%ADas+Inform%C3%A1tica+y+de+Telecomunicaci%C3%B3n!5e0!3m2!1ses!2sus!4v1508581397264"
							width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	  {% endblock %}
