<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tema3-IV</title>
	<link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>
<body>
	<div class="page">
		<div class="background">
			<div class="sidebar">
				<a href="http://flask.pocoo.org/" id="logo"><img src="./static/images/flask.png" alt="logo"></a>
				<ul class="navigation">
					{% block content %}
					<li class="selected">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/contacto">Contact Us</a>
					</li>
					<li>
						<a href="/registro">Sign in</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div>
					<div class="figure">
						<a href="/"><img src="./static/images/cabecera.jpg" alt=""></a>
						<form action="/comprobarLogin" method="POST">
									  	<input type="text" name="username" value="">
			 	 						  <input type="password" name="password" value="">
			 	 						  <input type="submit" value="Login">
					  </form>
					</div>
					<div>
						<p></p>
						{% if sesionCerrada%}
							<p>Sesión cerrada correctamente</p>
						{% endif %}
						{% if camposVacios%}
							<p>Debe de rellenar los campos</p>
						{% endif %}
						<h3>Infraestructura Virtual (2017-2018)</h3>
						<h3>Tema 3: Desplegando aplicaciones en la nube: Uso de PaaS</h3>
						<h3>Objetivos</h3>
						<p>
							1. Conocer los conceptos relacionados con el proceso de virtualización tanto de software
							como de hardware y ponerlos en práctica.
							<br>
							2. Justificar la necesidad de procesamiento virtual frente a real en el contexto de una
							infraestructura TIC de una organización.
							<br>
							3. Comprender los conceptos necesarios para trabajar con diferentes plataformas PaaS
							<br>
							4. Aplicar el concepto de DevOps a este tipo específico de plataforma.
							<br>
							5. Aplicar el sistema de control de fuentes git para despliegue de aplicaciones en la nube.
						</p>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		<div class="footer">
			<div>
				<div>
					<div class="connect">
						<div id="facebook">
							<a href="https://www.facebook.com/">facebook</a>
						</div>
						<div id="twitter">
							<a href="https://twitter.com/?lang=es">twitter</a>
						</div>
						<div id="googleplus">
							<a href="https://plus.google.com/about?hl=es">google+</a>
						</div>
					</div>
				</div>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/contacto">Contact Us</a>
					</li>
					<li>
						<a href="/registro">Sign in</a>
					</li>
				</ul>
				<p>
					&#169; 2017 Francisco Fernández Millán. All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>
